@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(230, 220, 208);
    /* background: url('gym.png') no-repeat center/cover; */
}

.container{
    width: 90%;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    /* width: 50%; */
    /* width: 100%; */
}

 .topright{ 
   /* width: 50%; */
}

.section1{
   /* max-height: 100vh;  */
   color: #711e15;
   height: 100%;
   padding: 30px 0;
}

.section1 h1{
    color: #37110d;
    /* font-size: 2rem; */
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    /* mix-blend-mode: color-burn; */
}
.section1 p{
  font-size: clamp(1.0rem, 3vw, 1.5rem);
 padding: 5px 0;
 margin: 10px 0;
 text-align: justify;
 text-align-last: center;

}

/* .logo{
    font-size: 1.3rem;
} */

.dumbellimg{
    width: 80%;
    mix-blend-mode: color-burn;
/* filter: drop-shadow(5px 5px 5px black); */
   
   
}

.topright .gymimg{
    width: 100%;
    margin: auto;
height: auto;
filter: drop-shadow(5px 5px 5px black);
   
}

.section2{
    padding: 73px 0;
    height: 100%;
}

.section2 h1{
    font-size: clamp(2rem, 4vw, 4rem);
}

.section2 p{
    /* padding: 0 8vw; */
 text-align: justify;

    font-size: clamp(1.0rem, 2vw, 1.5rem);
 padding: 5px 0;
 margin: 10px 0;
 text-align-last: center;
 /* margin: 10px 0; */
}

.box{
    padding: 8px 10px;
    margin: 12px 22px;
    min-width: 25vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

.box ul{
    list-style-type: none;
    /* text-align: justify; */
    /* padding-left: 10px; */
}

.box ul li{
   margin: 12px 2px;
}


.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    /* border-collapse: collapse; */
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    /* font-size: 2.3rem; */
    font-size: clamp(2rem, 4vw, 4rem);

}

.section3{
    padding: 73px 0;
}

footer{
    padding: 23px;
    text-align: center;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}